<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="icons-header">
        <a aria-label="Meu facebook" target="_blank" href="https://www.facebook.com/luisflavio.costa"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/u/0/113087114482182084559"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/lflaviocosta"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
